# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
*.Rproj.user/
.Rproj.user/shared/notebooks/paths
# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/.*
.Rproj.user
tests/testthat/*.pdf
.DS_Store
inst/doc
src/*.so
src/*.o

.Rproj.user/shared/notebooks/paths

*.pper

.Rproj.user/9F29A888/persistent-state

.Rproj.user/shared/notebooks/paths

.Rproj.user/9F29A888/pcs/source-pane.pper

.Rproj.user/9F29A888/pcs/windowlayoutstate.pper
